<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <system.webServer>    
        <rewrite>
            <rules>
                <remove name="pushState" />
                <rule name="pushState" stopProcessing="true">
                    <match url=".*" />
                        <conditions logicalGrouping="MatchAll">
                        	<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        	<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        	</conditions>
                        <action type="Rewrite" url="https://oceaniacruises.bubl.com/Welcome"/>
                    </rule>
            </rules>
        </rewrite>
        <httpErrors errorMode="Custom" defaultResponseMode="File" >
            <remove statusCode="404" />
            <remove statusCode="500" />
            <error statusCode="404" path="404.html" />
            <error statusCode="500" path="500.html" />
       </httpErrors>
    </system.webServer>
</configuration>