/* -------------------------------------------------- Page Structure */

#page3Frame {
	background-color: white;	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

#page3Frame .topbar {
	height: 30%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #f1ede1;
}

#page3Frame .content {
	height: 70%;
	display: flex;
	justify-content: space-evenly;
	padding: 2vw;
	column-gap: 2vw;
	row-gap: 2vw;
	background-color: white;
}

#page3Frame .box4 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 30%;
}

#page3Frame .box4Text {
	width: 100%;
	height: 2em;
	text-align: center;
	color: black;
}

#page3Frame .topHeader {
	width: 100%;
	height: 20vh;
	background-color: #071b44;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2vw;
	color: white;
	flex-basis: 30%;
}

#page3Frame .topTitle {
	display: flex;
	flex-direction: column;
	padding: 2vw;
	align-items: flex-start;
	justify-content: center;
	padding-left: 3vw;
}

/* ------------------------------------------------- Media */

#page3Frame .popupContent .iframeRelative {
	width: 55vw;
	height: 30.9375vw;
}

#page3Frame .box4 a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#page3Frame .imageContainer {
	height: 27vh;
	position: relative;
}

#page3Frame .boxImage {
	position: absolute;
	width : 70%;
}

#page3Frame #sideHeaderLogo {
	height: 50%;
}

/* ------------------------------------------------- Text */

#page3Frame .box4 a {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#page3Frame h1 {
	text-align: center;
	color: #071B44;
}

#page3Frame .topbar p {
	width: 80%;
	color: black;
}

#page3Frame .topHeader h1 {
	color: white;
}

#page3Frame .topTitle h2 {
	margin-bottom: 3vh;
	color: black;
}
/* ------------------------------------------------ Responsive Design */

/* Mobile Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

	#page3Frame {
		flex-direction: column;
	} 
	  
	#page3Frame .topbar {
		flex-direction: column;
		flex-basis: auto;
		padding-bottom: 3vw;
	}
	  
	#page3Frame .topbar {
		padding-right: 0px;
	}
	  
	#page3Frame .content {
		flex-direction: column;
		align-items: center;
		padding-top: 5vh;
	}
	  
	#page3Frame .box4 {
		width: 100%;
	}
	  
	#page3Frame .topHeader h1 {
		padding-left: 5%;	
	}
	  
	#page3Frame h2 {
		padding-top: 3vh;
		padding-bottom: 3vh;
	}
	
	#page3Frame .topHeader {
		flex-basis: auto;	
		height: auto;
	}
	  
	#page3Frame .box4 img {
		width: 68%;	
	}
	  
	#page3Frame .topbar p {
		padding-right: 5%;
		padding-left: 5%;
		width: auto;
	}

	#page3Frame .popup .iframeRelative {
		width: 70vw;
		height: 39.375vw;
	}

	#page3Frame .topTitle {
		align-items: center;
	}

	#page3Frame .topTitle h2 {
		padding-left: 0px;
		margin-bottom: 1vh;
	}

	#page3Frame .topHeader h1 {
		padding-left: 0px;
		padding-top: 12vh;
		padding-bottom: 2vh;
	}
}