/* -------------------------------------------------- Page Structure */

#page1Frame {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 3000;
}

#page1Frame .sidebar {
	flex-basis: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: #071b44;
	padding-bottom: 3vw;
	color: white;
}

#page1Frame .content {
	flex-basis: 60%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	padding: 2vw;
	column-gap: 1vw;
	row-gap: 1vw;
	background-color: white;
}

#page1Frame .box6 {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#page1Frame .box6Text {
	width: 100%;
	height: 2em;
	text-align: center;
	color: black;
}

#page1Frame .sideHeader {
	width: 100%;
	background-color: #071b44;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

/* ------------------------------------------------- Media */

#page1Frame .iframeRelative {
	width: 55vw;
	height: 30.9375vw;
}

#page1Frame .box6 a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#page1Frame .imageContainer {
	height: 27vh;
	margin-bottom: 3vh;
	position: relative;
}

#page1Frame .boxImage {
	position: absolute;
	width : 68%;
}

/*
#page1Frame .box6 img:hover {
    -webkit-transform:scale(1.07);
    transform:scale(1.07);
}
*/

#page1Frame #sideHeaderLogo {
	height: 60%;
}

/* ------------------------------------------------- Text */


#page1Frame h1 {
	text-align: center;
	color: white;
}

#page1Frame .sidebar p {
	width: 80%;
	color: white;
	margin-top: 2vh;
	text-align: center;
}

#page1Frame .sidebar .popup p {
	text-align: left;
	margin-top: 0vh;
}

#page1Frame .sidebar .popup .popupBackButton p {
	margin-top: 1.2vh;
}

#page1Frame .sidebar .popup .popupBackButton p {
	color: #B79256;
}

#page1Frame .sidebar .popup .popupBackButton .goldButtonBox p {
	color: white;
	width: auto;
}

#page1Frame h1 {
	padding-bottom: 3vh;
}


/* ------------------------------------------------ Responsive Design */

/* Mobile Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
	#page1Frame {
		flex-direction: column;
	}  
	  
	#page1Frame .content {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		padding-top: 5vh;
	}
	  
	#page1Frame .box6 {
		width: 100%;
		margin: auto;
	}
	  
	#page1Frame h2 {
    	margin-top: 3vh;
    	margin-bottom: 3vh;
	}

	#sideHeaderLogo {
		display: none;
	}
	
	#page1Frame h1 {
		padding-top: 1vh;
		padding-bottom: 3vh;
	}

	#page1Frame .sidebar p {
		padding-bottom: 2vh;
		margin-top: 0px;
	}

	#page1Frame .sidebar .popup p {
		width: 100%;
		padding-bottom: 2vh;
	}

	#page1Frame .sideHeader {
		height: 11vh;
	}

	#page1Frame .sidebar .iframeRelative {
	  width: 70vw;
	  height: 39.375vw;
	}
}

/* Landscape */
@media only screen 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

	#page1Frame {
		height: 100vh;
	}
}